<% layout('layouts/boilerplate') %>
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<style >

    */
    #back{
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
    #back .shape{
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }
    
    
    input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    }
   
    body{
        background-color:rgb(119, 16, 171);
    }
    form{
        height: 700px;
        width: 400px;
        background-color:rgb(169, 169, 169);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 30px 35px;
        margin-top: 30px;
        
    }
    form *{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
        color:black;
        
        
    }
    form h1{
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        
    }
    label{
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }
</style>


<div id ="back" class="row">
    <div class="col-md-6 mx-auto">
        <form action="/register" method="post">
            <h1 class="display-6">Sign Up</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>

            <div class="mb-3">
                <p class="mb-2">Want to register as ?</p>
                <div class="mx-2">
                    <label for="chef" class="form-label">Chef :</label>
                    <input type="radio" class="form-check-input" name="post" id="chef" value="chef">
                </div>
                <div class="mx-2">
                    <label for="user" class="form-label">User :</label>
                    <input type="radio" class="form-check-input" name="post" id="user" value="user">
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button class="btn btn-sm btn-success" type="submit">Sign Up</button>

            <p class="fw-light mt-2">Already Have an Account, <a href="/login">Log In</a></p>
        </form>
    </div>
</div>